/*
https://color.adobe.com/MLB---CUBS-color-theme-11115957/
 */
/* region >>IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Condensed|Roboto");
/* endregion */
/* region >>TAGS */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #292929;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }

/* endregion */
/* region >UNIVERSAL */
.section {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  -webkit-background-size: cover;
  min-height: 400px; }
  .section .section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1200px; }

.section-skewed-desc,
.section-skewed-asc {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  position: relative;
  -webkit-background-size: cover;
  z-index: 2; }

.section-skewed-asc {
  transform: skew(0, 3deg); }
  .section-skewed-asc .section-container {
    transform: skew(0, -3deg);
    flex-direction: row; }

.section-skewed-desc {
  transform: skew(0, -3deg); }
  .section-skewed-desc .section-container {
    transform: skew(0, 3deg);
    flex-direction: row; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* endregion */
/* region HEADER */
.main-header {
  background-image: url("../../public/img/main/heading-bgr.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 80px);
  position: relative;
  align-items: center; }

.main-header h1 {
  color: #FFFFFF;
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 100px;
  text-shadow: 3px 3px 3px #44444499;
  transition: all 500ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main-header-heading > p {
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  width: 29vw; }

.main-header-heading > p::after {
  background-color: #FFFFFF;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  visibility: hidden;
  width: 100%; }

.main-header-heading:hover > p::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  visibility: visible; }

.main-header-heading:hover h1 {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2); }

.main-header-bottomlink {
  bottom: 40px;
  color: #FFFFFF;
  position: absolute;
  text-decoration: none; }

.main-header-bottomlink:hover {
  color: #444444; }

.main-header-bottomlink p {
  font-size: 20px; }

.main-header-bottomlink span {
  font-size: 40px; }

.main-header-author {
  bottom: 3px;
  color: #444444;
  font-size: 14px;
  position: absolute;
  right: 20px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main-header-author p {
  display: block; }

/* endregion */
/* region NAV */
.main-nav {
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100; }
  .main-nav img {
    height: 60px; }
  .main-nav .main-nav-header {
    align-items: center;
    color: #AAAAAA;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
    font-size: 30px;
    justify-content: center;
    justify-items: center; }
    .main-nav .main-nav-header strong {
      padding-left: 20px;
      transition: font-size 0.3s ease-in-out;
      width: 300px; }
    .main-nav .main-nav-header:hover strong {
      font-size: 1.1em; }

.main-nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-left: 10vw; }

.main-nav-link a {
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out; }

.main-nav-link a:hover {
  color: aqua; }

.main-nav-link-new {
  background-color: #444444;
  font-size: 12px;
  padding: 3px 6px;
  text-transform: uppercase;
  transform: skew(3deg, 0);
  vertical-align: baseline; }

/* endregion */
/* region TOURNAMENT */
.main-tournament {
  background-image: url("../../public/img/main/team-red.jpg");
  margin-bottom: 60px; }
  .main-tournament-container {
    flex-direction: row;
    padding: 225px 0 325px; }
  .main-tournament h2 {
    font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
    font-size: 44px;
    text-align: center; }
  .main-tournament-elements {
    display: flex;
    flex-direction: row; }
  .main-tournament-article {
    height: auto;
    margin: 20px;
    width: 50%; }
    .main-tournament-article p {
      margin: 5px auto;
      text-align: justify; }
  .main-tournament-video {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 16vw;
    margin: 20px;
    width: 30vw; }

/* endregion */
/* region REGISTER */
.main-register {
  background-color: #364E8A;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 2;
  margin-top: -200px; }

.main-register-container {
  padding: 20px auto;
  max-width: 900px; }

.main-register-container h2 {
  display: block;
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 44px;
  padding: 20px;
  text-align: center; }

.main-register-container p {
  text-align: justify; }

.main-register-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }

.main-register-form h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 20px; }

.main-register-form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.main-register-form-element {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 0 5px;
  padding: 0 5px; }

.main-register-form-element label {
  font-size: 15px;
  padding: 5px; }

.main-register-form-element input,
.main-register-form-element select {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #292929;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 200px; }

.main-register-form-element input:hover,
.main-register-form-element select:hover {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.main-register-form-element input:focus,
.main-register-form-element select:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.main-register-form-element select {
  padding: 4px; }

.main-register-form-legal {
  margin: 30px auto;
  text-align: justify;
  width: 500px; }

.main-register-form-legal-container {
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.main-register-form-legal-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute; }

/* Create a custom checkbox */
.main-register-form-legal-checkmark {
  background-color: #EEEEEE;
  height: 25px;
  left: 0;
  position: absolute;
  top: calc(50% - 10px);
  width: 25px; }

.main-register-form-legal-container:hover input ~ .main-register-form-legal-checkmark {
  background-color: #CCCCCC; }

.main-register-form-legal-container input:checked ~ .main-register-form-legal-checkmark {
  background-color: #E1153A; }

.main-register-form-legal-checkmark:after {
  content: "";
  display: none;
  position: absolute; }

.main-register-form-legal-container input:checked ~ .main-register-form-legal-checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.main-register-form-legal-container .main-register-form-legal-checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  height: 10px;
  left: 9px;
  top: 5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 5px; }

.main-register-submit {
  margin: 30px;
  padding: 10px; }

.main-register-submit input {
  background: #E1153A;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 300px; }

.main-register-submit input:hover,
.main-register-submit input:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.main-register-submit input[type="reset"] {
  width: 100px; }

/* endregion */
/* region MEDIA */
.main-media {
  background-image: url("../../public/img/main/team-blue.jpg");
  margin-top: -200px;
  padding: 300px 0; }

.main-media-container h2 {
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 44px;
  margin: 30px auto; }

/* endregion */
/* region ORG */
.main-org {
  background-color: #E1153A;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: -200px;
  padding-bottom: 100px; }

.main-org-container h2 {
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 44px;
  margin: 30px auto; }

/* endregion */
/* region LOCATION */
.main-location {
  background-image: url("../../public/img/main/hall.jpg");
  margin-top: -200px;
  padding: 300px 0 200px; }

.main-location-container {
  padding-bottom: 100px; }

.main-location-container h2 {
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 44px;
  margin: 30px; }

.main-location-elements {
  display: flex;
  flex-direction: row; }

.main-location-element {
  margin: 20px;
  min-height: 400px;
  width: 50%; }

.main-location-element#GoogleMaps {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.main-location-element h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal; }

.main-location-element p {
  margin: 5px;
  text-align: justify; }

/* endregion */
/* region EXPO */
.main-expo {
  background: #292929;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: -200px;
  padding-bottom: 100px; }

.main-expo-container h2 {
  font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
  font-size: 44px;
  margin: 30px auto; }

/* endregion */
/* region FOOTER */
.main-footer {
  background: #133342;
  margin-top: -200px;
  padding-top: 200px; }

.main-footer-author {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  width: auto; }

.main-footer-author img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 200px; }

.main-footer-author-details {
  color: #FF6D37;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px; }

.main-footer-author-details h2 {
  color: #AAAAAA;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: 10px;
  text-transform: uppercase; }

.main-footer-author-details > a:first-of-type {
  color: #FFFFFF;
  font-size: 1.3em; }

.main-footer-author-icons {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.main-footer-author-icon {
  background-color: #FF6D37;
  border-radius: 50%;
  color: #FFFFFF;
  height: 40px;
  line-height: 1.2;
  margin: 10px 5px;
  padding: 9px;
  text-align: center;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 40px; }

.main-footer-author-icon:hover {
  background-color: #FFFFFF;
  color: #FF6D37;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2); }

/* endregion */
