/*
https://color.adobe.com/MLB---CUBS-color-theme-11115957/
 */
/* region >>IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Condensed|Roboto');
/* endregion */
/* region >>TAGS */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background: #292929;
}

a {
    text-decoration: none;
    color: inherit;
}

/* endregion */

/* region HEADER */
.main-header {
    height: calc(100vh - 80px);
    background: url("../img/main/heading-bgr.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.main-header h1 {
    font-family: 'Permanent Marker', 'Helvetica', 'Arial Black', cursive;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #44444499;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-header-heading > p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    width: 29vw;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
}

.main-header-heading > p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.main-header-heading > p:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.main-header-heading h1:hover {
    font-size: 120px;
}

.main-header-bottomlink {
    position: absolute;
    bottom: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.main-header-bottomlink:hover {
    color: #444444;
}

.main-header-bottomlink p {
    font-size: 20px;
}

.main-header-bottomlink span {
    font-size: 40px;
}

.main-header-author {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    position: absolute;
    color: #444444;
    font-size: 14px;
    right: 20px;
    bottom: 3px;
}

.main-header-author p {
    display: block;
}

/* endregion */
/* region NAV */
.main-nav {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
}

.main-nav img {
    height: 60px;
}

.main-nav-header {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #AAAAAA;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.main-nav-header strong {
    padding-left: 20px;
    transition: font-size 0.3s ease-in-out;
    width: 300px;
}

.main-nav-header:hover strong {
    font-size: 1.1em;
}

.main-nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin-left: 10vw;
}

.main-nav-links a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.main-nav-link a:hover {
    color: aqua;
}

/* endregion */
/* region TOURNAMENT */
.main-tournament {
    background: url("../img/main/team-red.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.main-tournament-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;
}

.main-tournament-article {
    width: 50%;
    height: auto;
    margin: 20px;
}

.main-tournament-article h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 44px;
}

.main-tournament-article p {
    margin: 5px auto;
    text-align: justify;
}

.main-tournament-video {
    width: 30vw;
    height: 16vw;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* endregion */
/* region MEDIA */
.main-media {
    transform: skew(0, 3deg);
    background: #364E8A;
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-media-container {
    margin: -120px auto;
    max-width: 1200px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: center;*/
    height: 70vh;
    transform: skew(0, -3deg);
}

/* endregion */
/* region REGISTER */
.main-register {
    background: url("../img/main/team-blue.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.main-register-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;
}

/* endregion */
/* region ORG */
.main-org {
    transform: skew(0, -3deg);
    background: #E1153A;
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-org-container {
    margin: -120px auto;
    max-width: 1200px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: center;*/
    height: 70vh;
    transform: skew(0, 3deg);
}

/* endregion */
/* region LOCATION */
.main-location {
    background: url("../img/main/hall.jpg");
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.main-location-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;
}

/* endregion */
/* region EXPO */
.main-expo {
    transform: skew(0, 3deg);
    background: #292929;
    z-index: 2;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-expo-container {
    margin: -120px auto;
    max-width: 1200px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: center;*/
    height: 70vh;
    transform: skew(0, -3deg);
}

/* endregion */

.longer {
    /*min-height: 4000px;*/
}


