{% include "common/header.twig" %}

<div class="main-container">
    <header class="main-header">
        <div class="main-header-heading">
            <h1>KK-Tournament</h1>
            <p>TURNIEJ E-SPORTOWY KĘDZIERZYN-KOŹLE</p>
        </div>

        <a class="main-header-bottomlink" href="">
            <p>Przewiń w dół</p>
            <span class="fas fa-chevron-down"></span>
        </a>


    </header>

</div>

{% include "common/footer.twig" %}