{% include "common/header.twig" %}

<div class="main-container">
    <header class="main-header" id="top">
        <div class="main-header-heading">
            <h1>KK-Tournament</h1>
            <p>Turniej E-Sportowy Kędzierzyn-Koźle</p>
        </div>

        <a class="main-header-bottomlink" href="#tournament">
            <p>Przewiń w dół</p>
            <span class="fas fa-chevron-down"></span>
        </a>
        <div class="main-header-author">
            <p>Drużyna FiveBaldPotatoes, KK-Tournament 2018</p>
            <p>Autor: Rafał Raczkowski</p>
        </div>
    </header>

    <nav class="main-nav">
        <a class="main-nav-header" href="#top">
            <img src="img/main/kkt-logo.png" alt="">
            <strong>KK-Tournament</strong>
        </a>
        <ul class="main-nav-links">
            <li class="main-nav-link"><a href="#tournament">TURNIEJ</a></li>
            <li class="main-nav-link"><a href="#register">REJESTRACJA <span
                            class="main-nav-link-new">NOWOŚĆ</span></a></li>
            <li class="main-nav-link"><a href="#media">SPONSORZY</a></li>
            <li class="main-nav-link"><a href="#org">ORGANIZATORZY</a></li>
            <li class="main-nav-link"><a href="#location">MIEJSCE</a></li>
            <li class="main-nav-link"><a href="#expo">EXPO</a></li>
        </ul>
    </nav>

    <section class="section main-tournament">
        <div class="section-container main-tournament-container" id="tournament">
            <h2>O KK-Tournament</h2>
            <div class="main-tournament-elements">
                <article class="main-tournament-article">
                    <p>
                        KK-Tournament to turniej e-sportowy organizowany przez uczniów i nauczycieli z pierwszej szkoły
                        e-sportowej w Polsce - Zespołu Szkół Technicznych i Ogólnokształcących w Kędzierzynie-Koźlu. W
                        2017 roku założyliśmy Kędzierzyńskie Stowarzyszenie Cybersportu, i wraz z Klubem Sportowym
                        "Koziołek" realizujemy turnieje KK-Tournament. Cechuje nas najwyższy poziom obsługi graczy, duże
                        zaangażowanie lokalnych mediów i przedsiębiorstw oraz duża jak na turniej o tej skali pula
                        nagród.
                    </p>
                    <p>
                        Zaczynaliśmy pomału, najpierw zorganizowaliśmy turniej dla uczniów szkoły (luty 2016), potem
                        duży
                        turniej na sali kina "Twierdza" (kwiecień 2017). Naszym debiutem na skalę miasta i regionu był
                        KK-Tournament 2018, wynajęliśmy wtedy ogromną Halę Sportową "Śródmieście" w Kędzierzynie-Koźlu.
                        1 i
                        2 czerwca 2018 były dniami
                        otwarcia
                        bram e-sportu w Kędzierzynie - profesjonalny i świetnie zorganizowany turniej chwalili zawodnicy
                        i media - zarówno lokalnie jak i ogólnopolskie.
                    </p>
                </article>
                <iframe class="main-tournament-video"
                        src="https://www.youtube-nocookie.com/embed/LzqHykflpu0?rel=0&amp;controls=0&amp;showinfo=0"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>


        </div>
    </section>

    <section class="section-skewed-asc main-register">
        <div class="section-container main-register-container" id="register">
            <h2>Rejestracja</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid at dolorem eaque, eos expedita
                magnam molestiae obcaecati omnis, pariatur provident quaerat quas quod ratione vitae? Adipisci
                blanditiis provident sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                aspernatur beatae commodi corporis explicabo illo laudantium magni molestias possimus. Accusantium
                aperiam consectetur corporis dolore eaque earum fugiat impedit ipsum?</p>
            <form class="main-register-form" action="" method="post">
                <h3>Podstawowe informacje</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Nazwa drużyny</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Kapitan drużyny</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Telefon kontaktowy</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Adres e-mail</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                </div>
                <h3>Pochodzenie drużyny</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Miejscowość</label>
                        <input type="text">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Województwo</label>
                        <select name="voivodeship" id="voivodeship">
                            <option value="" disabled>Wybierz województwo z listy</option>
                            <option value="D">dolnośląskie</option>
                            <option value="C">kujawsko-pomorskie</option>
                            <option value="L">lubelskie</option>
                            <option value="F">lubuskie</option>
                            <option value="E">łódzkie</option>
                            <option value="K">małopolskie</option>
                            <option value="W">mazowieckie</option>
                            <option value="O" selected>opolskie</option>
                            <option value="R">podkarpackie</option>
                            <option value="B">podlaskie</option>
                            <option value="G">pomorskie</option>
                            <option value="S">śląskie</option>
                            <option value="T">świętokrzyskie</option>
                            <option value="N">warmińsko-mazurskie</option>
                            <option value="P">wielkopolskie</option>
                            <option value="Z">zachodniopomorskie</option>

                        </select>
                    </div>
                </div>
                <h3>Twoja drużyna</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Gracz #2</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #3</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #4</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #5</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Rezerwowy #1</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Rezerwowy #2</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                </div>
                <div class="main-register-form-legal">
                    <label class="main-register-form-legal-container">
                        <p>Oświadczam, że ja i każdy członek mojej drużyny zapoznał się z regulaminem rozgrywek i
                            zobowiązuje się go przestrzegać.
                        </p>
                        <input type="checkbox">
                        <span class="main-register-form-legal-checkmark"></span>
                    </label>
                    <label class="main-register-form-legal-container">
                        <p>Oświadczam, że ja i każdy członek mojej drużyny w przypadku zakwalifikowania się do etapu
                            play-off zobowiązuję się przyjechać w dniu finału do Kędzierzyna-Koźla i brać udział w
                            rozgrywkach play-off.
                        </p>
                        <input type="checkbox">
                        <span class="main-register-form-legal-checkmark"></span>
                    </label>
                    <label class="main-register-form-legal-container">
                        <p title="Podstawa prawna: pkt 32, pkt 42, pkt 43, pkt 171 preambuły, art. 4 pkt 11, art. 5 ust
                        . 1 lit. b, art. 7 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE - Dz.U. UE. L. z 2016 r. Nr 119, str. 1 ">
                            Wyrażam zgodę na przetwarzanie moich danych
                            osobowych w procesie rejestracji do turnieju e-sportowego KK-Tournament,
                            ogłoszonego >data< i prowadzonego przez organizację "Kędzierzyńskie Stowarzyszenie
                            Cybersportu" z siedzibą przy ulicy
                            Jednocześnie oświadczam, że zostaliśmy poinformowani o przysługującym nam prawie dostępu do
                            treści moich danych oraz ich poprawiania, wycofania zgody na ich przetwarzanie w każdym
                            czasie, jak również, że podanie tych danych było dobrowolne, jednakże niezbędne aby móc
                            zostać zarejestrowanym.
                        </p>
                        <input type="checkbox">
                        <span class="main-register-form-legal-checkmark"></span>
                    </label>
                </div>
                <div class="main-register-submit">
                    <input type="submit" value="Wyślij zgłoszenie >">
                    <input type="reset" value="Reset">
                </div>
            </form>
        </div>
    </section>

    <section class="section main-media" id="media">
        <div class="section-container main-media-container">
            <h2>Sponsorzy</h2>
        </div>
    </section>

    <section class="section-skewed-desc main-org" id="org">
        <div class="section-container main-org-container">
            <h2>Organizatorzy</h2>
        </div>
    </section>

    <section class="section main-location">
        <div class="section-container main-location-container" id="location">
            <h2>Miejsce - Hala Sportowa Sródmieście</h2>
            <div class="main-location-elements">
                <div class="main-location-element">
                    <h3>Miasto e-sportu</h3>
                    <p>To tutaj, w 2015 roku w Zespole Szkół Technicznych i Ogólnokształcących powstała pierwsza
                        klasa e-sportowa w Polsce! Teraz my - jej pierwsi i kolejni uczniowe organizujemy ten
                        właśnie turniej, w mieście - które zasłynęło rewolucją w świecie e-sportu.</p>
                    <h3>Dlaczego tutaj?</h3>
                    <p>Hala jest w stanie pomieścić ponad 1000 osób na widowni, posiada szeroką, dużą scenę oraz
                        boisko z przestrzenią gotową do zagospodarowania. Jest dodatkowo klimatyzowana, posiada
                        dużo pomieszczeń, dzięki temu jesteśmy w stanie każdej drużynie na play-offie zapewnić
                        pomieszczenie.</p>
                    <h3>Jak dojechać?</h3>
                    <p>Do Kędzierzyna można dojechać pociągami większości miast wojewódzkich (PKP Intercity, Polregio),
                        także autobusami, przez Kędzierzyn przejeżdżają niektóre autobusy dalekobieżne. Hala
                        znajduję się 10 minut piechotą od dworca, lub jeden przystanek autobusem - jak wolicie.</p>
                    <p>Jeżeli przyjeżdżacie własnym autem, to pod Halą znajduje się parking zapewniający 40 miejsc.
                        Parkingu można szukać także pod kinem Chemik, osiedlu NDM lub wzdłuż ul. Wojska Polskiego.</p>
                    <p>Po Kędzierzynie co kilkanaście minut kursuje lokalny przewoźnik - MZK Kędzierzyn-Koźle. Autobusy
                        jeżdżą po całym mieście, od około godziny 4:00 do 23:00, bilet ulgowy kosztuje 1,50 PLN a
                        normalny 3,00 PLN.</p>
                </div>
                <div class="main-location-element" id="GoogleMaps">
                </div>
            </div>
        </div>
    </section>

    <section class="section-skewed-asc main-expo">
        <div class="section-container main-expo-container" id="expo">
            <h2>Expo</h2>
        </div>
    </section>

    <footer class="section main-footer">
        <div class="section-container main-footer-container" id="footer">
            <div class="main-footer-author">
                <img src="img/main/author-logo.png" alt="logo archi_tektur - programisty który stworzył tą stronę">
                <div class="main-footer-author-details">
                    <h2>Projekt i wykonanie</h2>
                    <a href="https://www.facebook.com/oskarbarcz">Oskar Barcz</a>
                    <a href="https://www.archi-tektur.pl">www.archi-tektur.pl</a>
                    <a href="mailto:kontakt@archi-tektur.pl">kontakt@archi-tektur.pl</a>
                    <div class="main-footer-author-icons">
                        <a class="main-footer-author-icon" href="https://www.facebook.com/architekturpl/"><span
                                    class="fab fa-facebook-f"></span></a>
                        <a class="main-footer-author-icon" href="https://www.instagram.com/archi_tektur"><span
                                    class="fab
                        fa-instagram"></span></a>
                        <a class="main-footer-author-icon" href="https://www.archi-tektur.pl"><span
                                    class="fas fa-globe"></span></a>
                        <a class="main-footer-author-icon" href="mailto:kontakt@archi-tektur.pl"><span
                                    class="fas fa-envelope"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYg2s6W6R3Ua2qevMCWXtE9HHgQtVyfog"></script>
<script rel="googleapis">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        let mapOptions = {
            zoom: 6,
            center: new google.maps.LatLng(51.59, 18.73),
            styles: null
        };
        let mapElement = document.getElementById('GoogleMaps');
        let map = new google.maps.Map(mapElement, mapOptions);
        let marker = new google.maps.Marker({
            position: new google.maps.LatLng(50.3476804, 18.2169872),
            map: map,
            title: 'Hala Sportowa SRÓDMIEŚCIE'
        });
    }
</script>

{% include "common/footer.twig" %}