{% include "common/header.twig" %}

<div class="main-container">
    <header class="main-header" id="top">
        <div class="main-header-heading">
            <h1>KK-Tournament</h1>
            <p>Turniej E-Sportowy Kędzierzyn-Koźle</p>
        </div>

        <a class="main-header-bottomlink" href="#tournament">
            <p>Przewiń w dół</p>
            <span class="fas fa-chevron-down"></span>
        </a>
        <div class="main-header-author">
            <p>Drużyna FiveBaldPotatoes, KK-Tournament 2018</p>
            <p>Autor: Rafał Raczkowski</p>
        </div>
    </header>

    <nav class="main-nav">
        <a class="main-nav-header" href="#top">
            <img src="img/main/kkt-logo.png" alt="">
            <strong>KK-Tournament</strong>
        </a>
        <ul class="main-nav-links">
            <li class="main-nav-link"><a href="#tournament">TURNIEJ</a></li>
            <li class="main-nav-link"><a href="#media">SPONSORZY</a></li>
            <li class="main-nav-link"><a href="#register">REJESTRACJA <span
                            class="main-nav-link-new">NOWOŚĆ</span></a></li>
            <li class="main-nav-link"><a href="#org">ORGANIZATORZY</a></li>
            <li class="main-nav-link"><a href="#location">MIEJSCE</a></li>
            <li class="main-nav-link"><a href="#expo">EXPO</a></li>
            <li class="main-nav-link"><a href="#contact">KONTAKT</a></li>
        </ul>
    </nav>

    <section class="main-tournament">
        <div class="main-tournament-container" id="tournament">
            <article class="main-tournament-article">
                <h2>O KK-Tournament</h2>
                <p>
                    KK-Tournament to turniej e-sportowy organizowany przez uczniów i nauczycieli z pierwszej szkoły
                    e-sportowej w Polsce - Zespołu Szkół Technicznych i Ogólnokształcących w Kędzierzynie-Koźlu. W
                    2017 roku założyliśmy Kędzierzyńskie Stowarzyszenie Cybersportu, i wraz z Klubem Sportowym
                    "Koziołek" realizujemy turnieje KK-Tournament. Cechuje nas najwyższy poziom obsługi graczy, duże
                    zaangażowanie lokalnych mediów i przedsiębiorstw oraz duża jak na turniej o tej skali pula nagród.
                </p>
                <p>
                    Zaczynaliśmy pomału, najpierw zorganizowaliśmy turniej dla uczniów szkoły (luty 2016), potem duży
                    turniej na sali kina "Twierdza" (kwiecień 2017). Naszym debiutem na skalę miasta i regionu był
                    KK-Tournament 2018, wynajęliśmy wtedy ogromną Halę Sportową "Śródmieście" w Kędzierzynie-Koźlu. 1 i
                    2 czerwca 2018 były dniami
                    otwarcia
                    bram e-sportu w Kędzierzynie - profesjonalny i świetnie zorganizowany turniej chwalili zawodnicy
                    i media - zarówno lokalnie jak i ogólnopolskie.
                </p>
            </article>
            <iframe class="main-tournament-video"
                    src="https://www.youtube-nocookie.com/embed/LzqHykflpu0?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>

        </div>
    </section>

    <section class="main-register">
        <div class="main-register-container" id="register">
            <h2>Rejestracja</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid at dolorem eaque, eos expedita
                magnam molestiae obcaecati omnis, pariatur provident quaerat quas quod ratione vitae? Adipisci
                blanditiis provident sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                aspernatur beatae commodi corporis explicabo illo laudantium magni molestias possimus. Accusantium
                aperiam consectetur corporis dolore eaque earum fugiat impedit ipsum?</p>
            <form class="main-register-form" action="" method="post">
                <h3>Podstawowe informacje</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Nazwa drużyny</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Kapitan drużyny</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Telefon kontaktowy</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Adres e-mail</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                </div>
                <h3>Dane kapitana</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Nazwa drużyny</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Kapitan drużyny</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Telefon kontaktowy</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Adres e-mail</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                </div>
                <h3>Pochodzenie</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Nazwa drużyny</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Nazwa drużyny</label>
                        <input type="text" placeholder="od 3 do 32 znaków">
                    </div>
                </div>
                <h3>Twoja drużyna</h3>
                <div class="main-register-form-group">
                    <div class="main-register-form-element">
                        <label for="">Gracz #2</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #3</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #4</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Gracz #5</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Rezerwowy #1</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                    <div class="main-register-form-element">
                        <label for="">Rezerwowy #2</label>
                        <input type="text" placeholder="Imię 'nick' Nazwisko">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="main-media" id="media">
        <div class="main-media-container">
            <article>
                <h2>Media o nas</h2>
            </article>
            <article>
                PRAWY
            </article>
        </div>
    </section>


    <section class="main-org" id="org">
        <div class="main-org-container">
            ORG
        </div>
    </section>

    <section class="main-location">
        <div class="main-location-container" id="location">
            GDZIE HALA
        </div>
    </section>

    <section class="main-expo">
        <div class="main-expo-container" id="expo">
            EXPO
        </div>
    </section>

    <section class="main-contact">
        <div class="main-contact-container" id="contact">
            KONTAKT
        </div>
    </section>

    <div class="longer"></div>
</div>

{% include "common/footer.twig" %}